Options -Indexes
RewriteEngine On
RewriteBase /astrosight/
# Rewrite Base / => en prod | Rewrite Base /astrosight/ => en local


# Règle pour le sitemap
RewriteRule ^sitemap\.xml$ sitemap.php [L]

# Si le fichier ou dossier existe, on ne fait rien
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Sinon on redirige tout vers index.php
RewriteRule ^(.*)$ index.php?page=$1 [QSA,L]